<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Medial Diagnosis and Consultancy System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-info py-3">
        <a class="navbar-brand pl-5" href="@Url.Action("Index", "Home")">OMDACS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")"><i class="fas fa-info"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")"><i class="far fa-address-book"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AllCases", "Home")"><i class="fas fa-calendar"></i> All Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Post", "Home")"><i class="fas fa-calendar-plus"></i> Open Case</a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user"></i> My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("UserDashBoard", "Home")"><i class="fas fa-user-cog"></i> User Dashboard</a>
                            <a class="dropdown-item" href="@Url.Action("MyCases", "Home")"><i class="fas fa-calendar-check"></i> My Cases</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Home")"><i class="fas fa-clipboard-list"></i> Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Home")"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container mt-3">
        @RenderBody()
        <hr />
        <footer class="page-footer font-small mdb-color pt-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left mt-3 pb-3">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">OMDACS</h6>
                        <p>
                            Patients share their case with the Project community by answering our online questionnaire that covers their medical history, current symptoms, and personal story.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Social Medias</h6>
                        <p>
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i>/OMDACS</a>
                        </p>
                        <p>
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i>/OMDACS</a>
                        </p>
                        <p>
                            <a href="https://instagram.com"><i class="fab fa-instagram"></i>/OMDACS</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful LInks</h6>
                        <p>
                            <a href="@Url.Action("Register", "Home")">Sign In</a>
                        </p>
                        <p>
                            <a href="@Url.Action("Post", "Home")">Open a Case</a>
                        </p>
                        <p>
                            <a href="@Url.Action("AllCases", "Home")">All Cases</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <a href="https://g.page/istanbulkulturuniversitesi?share"><i class="fas fa-map-marker-alt"></i> Istanbul, 34000, TR</a>
                        </p>
                        <p>
                            <a href="https://gmail.com"><i class="fas fa-envelope-square"></i> info@gmail.com</a>
                        </p>
                        <p>
                            <a> <i class="fas fa-phone-square-alt"></i> +90 555 555 5555</a>
                        </p>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-md-12 col-lg-12">
                        <hr />
                        <p class="text-center text-md-left">
                            © 2019 All Rights Reserved:
                            <a href="@Url.Action("Index", "Home")">
                                <strong> Online Medical Diagnosis and Consultancy System</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/330fd8c17a.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
